#section5{
    height: 100vh;
    width: 100%;
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
  }
  
  #section5 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    transform: rotate(180deg);
  }
  /* set con--s */
  .trip_steps_con{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  /* set dimond -- */
  .Diamond{
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-bottom: 70px solid rgba(35, 35, 35, 0.773);
      position: relative;
      top: -60px;
  }
  .Diamond::after{
    content: '';
    position: absolute;
    left: -50px;
    top: 70px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid rgba(35, 35, 35, 0.773);
  }
  
  
  .Diamond .Step{
    position: absolute;
    top: 51px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    
    font-size: 1.5rem;
    color: white;
  }
  
  /* set data  */
  .trip_steps_data{
    background: rgba(0, 0, 0, 0.059);
    background: rgba(255, 255, 255, 0.059);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(4px);
  }
  .trip_steps_data .title{
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .trip_steps_data p{
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  /* media - q */
  @media only screen and (max-width: 1100px) {
    .trip_steps_con{
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 560px) {
    #section5{
      justify-content: center;
      gap: 30px;
    }
    .Diamond{
      display: none;
    }
    .trip_steps_con:nth-child(2) .trip_steps_data .title::before{content: '1.';}
    .trip_steps_con:nth-child(3) .trip_steps_data .title::before{content: '2.';}
    .trip_steps_con:nth-child(4) .trip_steps_data .title::before{content: '3.';}
  }
  
  @media only screen and (max-width: 400px) {
    #section5{
      gap: 10px;
    }
  }
  
  