#SectionThreeAfter {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(225, 217, 207);
}


.MainContainer {
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Sec3Heading {
    position: relative;
    text-align: center;
    font-family: "Inknut",sans-serif;
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
}

.SubContainer1 {
    position: relative;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.SubContainer2 {
    position: relative;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.SubContainer1 .SubSubContainer1 {
    width: 60%;
}

.Sub:hover > .category_overlay {
    opacity: 1;
}

.Sub .category_overlay {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    transition: all 0.7s;
    opacity: 0;
}

.Sub .category_overlay .heroTitle:nth-child(1) {
    position: relative;
    padding: 0px 10px;
    font-family: "Inknut",sans-serif;
    font-size: 1.5rem;
    line-height: 30px;
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0) 100%);
}

.Sub .category_overlay .heroTitle:nth-child(2) {
    font-family: "Inknut",sans-serif;
    position: relative;
    padding: 0px 10px 10px 10px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0) 100%);
    line-height: 25px;
}

.SubContainer1 .SubSubContainer2 {
    width: 40%;
}

.SubContainer2 .SubSubContainer3, .SubContainer2 .SubSubContainer4, .SubContainer2 .SubSubContainer5 {
    width: 34%;
}

.Sub {
    position: relative;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.Sub img {
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 0.7s;
}

.Sub:hover img {
    transform: scale(1.1);
}







