.full_blur_bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
 
  height: 100vh;
  width: 100vw;
  background-color: rgba(60, 60, 60, 0.148);
  backdrop-filter: blur(4px);
}

.forget_password_con {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.forget_password_con img{
  position: absolute;
  top: -25px;
  right: -50px;
  height: 50px;
  z-index: 999;
  cursor: pointer;
}
.forget_password_con .set_active_form img{
  position: absolute;
  top: 0;
  height: 50px;
}
.forget_password_con .set_active_form{
  background: white;
  padding:30px;
  gap: 28px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* @keyframes set_me_test {
    0%{width: 20%;}
    50%{width: 50%; left: 20%;}
    100%{width: 10%;left: 100%; }
}

@keyframes opacity_animation {
  0%{background: #00000000;}
  100%{background: #aeaeae73;}
}
.forget_password_con .set_loder_page{
  background: #aeaeae73;
  position: absolute;
  top: 0;
  transition: all 0.2s;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation: opacity_animation 1s ease-in-out;
}
.forget_password_con .set_no_loder{
  display: none;
}


.forget_password_con .set_loder_page::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 20%;
  background: #5264AE;
  transition: all 0.2s;
  border-radius: 3px;
  animation: set_me_test 1.5s infinite;
}
 */

.forget_password_con .set_inactive_form{
  display: none;
}

.forget_password_con form .title{
  align-self: flex-start;
  font-size: 1.5rem;
}
.forget_password_con .info{
  color: rgb(54, 54, 54);
}
.forget_password_con .input_group{
  display: flex;
  flex-direction: column;
}

.forget_password_con input[type="submit"]{
  outline: 0;
  border: 0;
  width: fit-content;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(216, 216, 255);
  transition: all 0.3s;
  &:hover{
    background: rgb(141, 141, 165);
  }
}


/*  */
/*  */
/*  */




.forget_password_con .input_readOnly:valid~label{
  top: -20px;
  font-size: 18px;
  color: #5264AE;
}



.forget_password_con .input_group {
  position: relative;
  margin: 6px 0;
}
.forget_password_con .disable_input_group {
  display: none;
}


.forget_password_con input[type="text"],
.forget_password_con input[type="password"],
.forget_password_con input[type="email"] {
  font-size: 1.2rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid rgb(180, 175, 175);

}

.forget_password_con input:focus {
  outline: none;
}



/* form styles input-lable*/
.forget_password_con label {
  color: #434343;
  font-size: 1.2rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.forget_password_con input[type="text"]:focus~label,
.forget_password_con input[type="password"]:focus~label,
.forget_password_con input[type="email"]:focus~label,
 
.forget_password_con input[type="text"]:valid~label,
.forget_password_con input[type="password"]:valid~label,
.forget_password_con input[type="email"]:valid~label {
  top: -20px;
  font-size: 18px;
  color: #5264AE;
}

.forget_password_con .bar {
  position: relative;
  display: block;
  width: 300px;
}

.forget_password_con .bar:before,
.forget_password_con .bar:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -1px;
  background: #5264AE;
  transition: 0.2s ease all;
}

.forget_password_con .bar:before {
  left: 50%;
}

.forget_password_con .bar:after {
  right: 50%;
}

.forget_password_con input:focus~.bar:before,
.forget_password_con input:focus~.bar:after {
  width: 50%;
}

.forget_password_con .label-custom {

  display: contents;
  pointer-events: fill;
  cursor: pointer;
  font-size: 0.95rem;
}


